include prodat/core/controller/environment/driver/templates/baseDockerfile
include prodat/core/controller/environment/driver/templates/python2Dockerfile
include prodat/core/controller/environment/driver/templates/python3Dockerfile
include prodat/core/util/validation/schemas.yml
include prodat/core/controller/environment/driver/config/docker.json
include prodat/VERSION
graft prodat/dashboard
prune examples
prune docs
prune templates